@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="position:fixed; bottom: 0;">
            <p>&copy; @DateTime.Now.Year - Court Case application</p>
        </footer>
    </div>
</body>
</html>
