@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<meta name="viewport" content="width=device-width" />
<title></title>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-messages.min.js"></script>
<script>
    var app;
    (function () {
        'use strict';
        app = angular.module('PlaintiffAdd', []);
        app.controller('PlaintiffAdd', ['$scope', '$http',
    function ($scope, $http) {
        var baseUrl = 'http://localhost:1619/api/plaintiffs';
        $scope.btnText = "Save";

        //save and update function
        $scope.SaveUpdate = function () {
            var Plaintiff =
                {
                    PlaintiffID: $scope.PlaintiffID,
                    Fname: $scope.Fname,
                    Mname: $scope.Mname,
                    Lname: $scope.Lname,
                    Gender: $scope.Gender,
                    Age: $scope.Age,
                    Phone: $scope.Phone,
                    Email: $scope.Email,
                    City: $scope.City,
                    SubCity: $scope.SubCity,
                    Kebele: $scope.Kebele,
                    HouseNumber: $scope.HouseNumber
                }
             if (($scope.btnText == "Save") && ($scope.plaintiff_form.$valid)) {
           // if ($scope.btnText == "Save") {
                $http.post(baseUrl, Plaintiff).then(function (response) {
                    if (response.data != "") {
                        alert('Data Saved Successfully');
                        $scope.GetPlaintiffs();
                        $scope.Clear();
                    }
                    else {
                        alert("Please Enter Valid Information!");
                    }
                }

           ,
       function (error) {
           console.log("There is error " + error);
       });

            }
             else {
               /*  $scope.plaintiff_form = valid;
                 $scope.disabled = true;
                 $scope.plaintiff_form.$valid;
                 $scope.set('disabled', true);*/
                var apiRoute = baseUrl + '/' + PlaintiffID;
                $http.put(apiRoute, Plaintiff).then(function (response) {
                    if (response.data != "") {
                        alert("Data Updated Successfully");
                        $scope.GetPlaintiffs();
                        $scope.Clear();

                    }
                    else {
                        alert("Please Enter Valid Information!");
                    }

                }, function (error) {
                    console.log("Error: " + error);
                });
                //}

            }
        }

        $scope.Clear = function () {
            //$scope.PlaintiffID = 0;
            $scope.Fname = "";
            $scope.Lname = "";
            $scope.Mname = "";
            $scope.Gender = "";
            $scope.Age = "";
            $scope.Phone = "";
            $scope.Email = "";
            $scope.City = "";
            $scope.SubCity = "";
            $scope.Kebele = "";
            $scope.HouseNumber = "";

        }
        //Get all plaintiff
        $scope.GetPlaintiffs = function () {
            $http.get(baseUrl).then(function (response) {
                debugger
                $scope.Plaintiffs = response.data;

            },
             function (error) {
                 console.log("Error: " + error);
             });


        }
        $scope.GetPlaintiffs();

        //get plaintiff by ID
        $scope.GetPlaintiff = function (Plaintiff) {
            debugger
            var apiRoute = baseUrl + '/' + Plaintiff.PlaintiffID;
            $http.get(apiRoute, Plaintiff.PlaintiffID).then(function (response) {
                $scope.PlaintiffID = response.data.PlaintiffID;
                $scope.Fname = response.data.Fname;
                $scope.Mname = response.data.Mname;
                $scope.Lname = response.data.Lname;
                $scope.Gender = response.data.Gender;
                $scope.Age = response.data.Age;
                $scope.Phone = response.data.Phone;
                $scope.Email = response.data.Email;
                $scope.City = response.data.City;
                $scope.SubCity = response.data.SubCity;
                $scope.Kebele = response.data.Kebele;
                $scope.HouseNumber = response.data.HouseNumber;
                $scope.btnText = "Update";
             
                //$scope.plaintiff_form.$valid;

            },
            function (error) {
                console.log("Error: " + error);
            });
        }

        //delete function
        $scope.DeletePlaintiff = function (Plaintiff) {
            debugger
            var apiRoute = baseUrl + '/' + Plaintiff.PlaintiffID;
            $http.delete(apiRoute).then(function (response) {
                if (response.data != "") {
                    alert("Data Delete Successfully");
                    $scope.GetPlaintiffs();
                    $scope.Clear();

                } else {
                    alert("Some error");
                }

            }, function (error) {
                console.log("Error: " + error);
            });
        }

    }]);
    })();

</script>

<body ng-app="PlaintiffAdd">

    <h1>Register Plaintiff</h1>
    <!--<div class="actions">
        <a href="@Url.Action("PlaintiffCreate", "Home")" class="btn green" btn-success=""
           data-buttontype="btn_new_record"><i class="fa fa-plus"></i>New Plaintiff</a>
    </div>-->
    <div ng-controller="PlaintiffAdd">
        <form style="width:600px;margin:0px auto;" class="form-horizontal" name="plaintiff_form" novalidate>
            <div class=" form-horizontal">
                <label for="PlaintiffID" class="control-label col-md-4" style="display:none">Plaintiff ID:</label>
                <div class="form-group row" style="display:none">
                    <input type="text" class="form-control" id="PlaintiffID" data-ng-model="PlaintiffID" />
                </div>
            </div>

            <div class="form-horizontal">
                <label for="Fname" class="control-label col-md-4">First Name:</label>
                <div class="form-group row">
                    <input type="text" class="form-control" id="Fname" data-ng-model="Fname" ng-required="true" placeholder="Enter first name" />
                </div>
            </div>
            <div class="form-horizontal">
                <label for="Lname" class="control-label col-md-4">Last Name:</label>
                <div class="form-group row">
                    <input type="text" class="form-control" id="Lname" data-ng-model="Lname" ng-required="true" placeholder="Enter last name" />
                </div>
            </div>
            <div class="form-horizontal">
                <label for="Mname" class="control-label col-md-4">Middle Name:</label>
                <div class="form-group row">
                    <input type="text" class="form-control" id="Mname" data-ng-model="Mname" data-ng-required="true" placeholder="Enter Middle name" />
                </div>
            </div>

            <div class="form-horizontal">
                <label for="Gender" class="control-label col-md-4">Gender:</label>
                <div class="form-group row">
                    <fieldset>
                        <select type="text" class="form-control" id="Gender" data-ng-model="Gender" data-ng-required="true">
                            <option value="">--Gender Select</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </fieldset>
                </div>
            </div>
            <div class="form-horizontal">
                <label for="Age" class="control-label col-md-4">Age:</label>
                <div class="form-group row">
                    <input type="number" class="form-control" id="Age" data-ng-model="Age" min="18" max="100" ng-required="true" placeholder="Age should be greater than 18" />
                </div>
                <div role="alert">

                </div>
            </div>
            <div class="form-horizontal">
                <label for="Phone" class="control-label col-md-4">Phone:</label>
                <div class="form-group row">
                    <input type="text" class="form-control" id="Phone" data-ng-model="Phone" data-ng-required="true" ng-minlength="10" ng-maxlength="12" placeholder="Phone must be b/n 10-12 digit" />
                </div>
            </div>
            <p>
                <div class="form-horizontal">
                    <label for="Email" class="control-label col-md-4">Email:</label>
                    <div class="form-group row">
                        <input type="email" class="form-control" name="Email" data-ng-model="Email" ng-required="true" placeholder="Enter valid email" />
                    </div>

                </div>
            </p>
            <div class="form-horizontal">
                <label for="City" class="control-label col-md-4">city:</label>
                <div class="form-group row">
                    <input type="text" class="form-control" id="City" data-ng-model="City" data-ng-required="true" placeholder="Enter city" />
                </div>
            </div>
            <div class="form-horizontal">
                <label for="SubCity" class="control-label col-md-4">SubCity:</label>
                <div class="form-group row">
                    <input type="text" class="form-control" id="SubCity" data-ng-model="SubCity" data-ng-required="true" placeholder="Enter Sub city" />
                </div>
            </div>
            <div class="form-horizontal">
                <label for="Kebele" class="control-label col-md-4">Kebele:</label>

                <div class="form-group row">
                    <input type="text" class="form-control" id="Kebele" data-ng-model="Kebele" data-ng-required="true" placeholder="Enter Kebele Number" />
                </div>
            </div>
            <div class="form-horizontal">
                <label for="HouseNumber" class="control-label col-md-4">HouseNumber:</label>
                <div class="form-group row">
                    <input type="text" class="form-control" id="HouseNumber" data-ng-model="HouseNumber" data-ng-required="true" placeholder="Enter House Number" />
                </div>
            </div>
            <div class="form-horizontal">
                <div class="col-md-4">
                </div>
                <div class="col-md-7">
                    <button type="submit" class=" btn btn-success margin-right-btn"  ng-click="SaveUpdate()">
                        <i class="icon-save"></i> {{btnText}}
                    </button>
                    <input type="reset" id="Clear" value="Reset" class="btn btn-success margin-right-btn" />
                </div>
            </div>
            <br />
        </form>
        <table border="1" width="1000" style="border-right-color:antiquewhite" class="table">
            <tr>
            <thead>
            <th scope="col">Plaintiff ID</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Phone</th>
            <th>Email</th>
            <th>City</th>
            <th>Sub City</th>
            <th>Kebele</th>
            <th>House Number</th>
            </thead>
            </tr>
            <tbody ng-repeat="Plaintiff in Plaintiffs">
                <tr>
                    <td>{{Plaintiff.PlaintiffID}}</td>
                    <td>{{Plaintiff.Fname}}</td>
                    <td>{{Plaintiff.Mname}}</td>
                    <td>{{Plaintiff.Lname}}</td>
                    <td>{{Plaintiff.Gender}}</td>
                    <td>{{Plaintiff.Age}}</td>
                    <td>{{Plaintiff.Phone}}</td>
                    <td>{{Plaintiff.Email}}</td>
                    <td>{{Plaintiff.City}}</td>
                    <td>{{Plaintiff.SubCity}}</td>
                    <td>{{Plaintiff.Kebele}}</td>
                    <td>{{Plaintiff.HouseNumber}}</td>
                    <td style="text-align:right; color:white">
                        <span>
                            <span id="save" class="btn btn-primary margin-right-btn" ng-click="GetPlaintiff(Plaintiff)">
                                Edit
                            </span>
                        </span>
                    </td>
                    <td style="text-align:right; color:white">
                        <span>
                            <span id="save" class="btn btn-danger margin-right-btn" ng-click="DeletePlaintiff(Plaintiff)">
                                Delete
                            </span>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

